.header {
    padding-top: 2rem;
}
body {
    background-color: black;
}

#header {
    margin: top 40px;;
    padding: 30px;
    margin: 10px;
    white-space: pre;
    overflow: visible;
    font-weight: 700;
    font-style: normal;
    font-family: "Epilogue",
        serif;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 1;
    text-align: left;
}

#mainmenu {
    width: auto;
    /* 68px */
    height: auto;
    /* 22px */
    white-space: 56px;
    overflow: visible;
    font-weight: 700;
    font-style: normal;
    font-family: "Epilogue",
        serif;
    color: #666666;
    font-size: 27px;
    letter-spacing: 0px;
    line-height: 1;
    text-align: right;
    text-decoration-color: #666666;
}

#pageopen {
    color: white;
    text-decoration-color: white;
}

#end-line {
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.footer-line {
    height: max-content;
    width: 100%;
    padding-top: 5rem;
}